
.ResImgPublic { margin-left:800px; width:100px;  height:40px;  margin-top:30px; position:relative; line-height:40px;font-family:"黑体"; font-size:20px; color:#666666; cursor:pointer;background:url("../FrameImg/sitelogo/imgShare.png" ) no-repeat scroll }

.ResImgTagArea{ margin-left:25px; margin-top:25px; width:900px; height:50px; position:relative}
.ResImgLbut{ width:50px; height:100%; position:absolute;background:url("../FrameImg/sitelogo/ResIndexLbut.png" ) no-repeat scroll; cursor:pointer}
.ResImgTagBrowser{ width:800px; height:100%; margin-left:50px; overflow:hidden; position:absolute}
.ResImgTagBrowser ul{ list-style-type:none; font-size:0px; margin:0; padding:0; width:800px; height:100%; position:absolute;}
.ResImgTagBrowser li{ width:98px; height:100%; float:left; position:relative; text-align:center; line-height:50px; font-family:"黑体"; color:#666666; font-size:15px; border-left:1px solid #eeeeee; border-right:1px solid #eeeeee; cursor:pointer}
.ResImgRbut{width:50px; height:100%;margin-left:850px; position:absolute;background:url("../FrameImg/sitelogo/ResIndexRbut.png" ) no-repeat scroll; cursor:pointer}

/*排行区*/
.ResRank{ margin-left:25px; margin-top:20px; width:894px; height:200px; position:relative; float:left; border:1px solid #ededef}
.ResRank ul{list-style-type:none; font-size:0px; margin:0; padding:0; width:894px; height:100%; position:absolute;}
.ResRank li{ margin-left:24px; margin-top:20px; width:148px; height:160px; position:relative; float:left;border:1px solid #ededef; cursor:pointer;box-shadow: 2px 3px 5px #a2a2a3 }
.ResRankT{ width:140px; height:30px; margin-top:5px; margin-left:5px; position:absolute; line-height:30px; font-size:15px; text-align:center;font-family:"黑体";}
.ResRankImg{ width:138px; height:100px;margin-top:35px; margin-left:5px; position:absolute; }
.ResRankImg img{width:138px; height:100px; position:relative}
.ResRankTime{ width:140px; height:20px;margin-top:135px; margin-left:5px; position:absolute; line-height:20px; font-size:12px; color:#aaaaaa }
/*内容区*/
.ResImgArea{ margin-left:0px; margin-top:20px; width:950px; height:auto; position:relative; float:left}
.ResImgArea ul{ display:block; list-style-type:none; font-size:0px; margin:0; padding:0; width:950px; height:auto; position:relative;}
.ResImgArea li{ display:block;  margin-left:25px; margin-top:25px; width:433px; height:348px; float:left; border:1px solid #ededef; position:relative;box-shadow: 2px 3px 5px #a2a2a3}
.ResImgAreaTitle{ margin-left:15px; margin-top:30px; width:300px; height:50px; font-size:25px; font-family:"黑体"; position:absolute}
.ResImgAreaBut{ margin-left:332px; margin-top:30px; width:80px; height:30px; position:absolute; cursor:pointer; background:url("../FrameImg/sitelogo/ShouCangbut.png" ) no-repeat scroll}
.ResImgAreaPartPerson{margin-left:15px; margin-top:80px; width:400px; height:30px; line-height:30px; font-size:15px; color:#aaaaaa; position:absolute}
.ResImgAreaInfo{ display:none; width:0; height:0; position:absolute}
.ResImgAreaImgUl{ margin-left:15px; margin-top:110px; width:400px; height:220px; position:absolute}
.ResImgAreaImgUl ul{list-style-type:none; font-size:0px; margin:0; padding:0; width:400px; height:220px; position:absolute;}
.ResImgAreaImgUl li{ padding:0; margin:0; width:131px; height:110px; position:relative; float:left; cursor:pointer}
.ResImgAreaImgUl img{ width:130px; height:110px; position:relative}

/*内容加载区*/
.ResImgLoad{ display:block; margin-left:25px; margin-top:20px; width:900px; height:30px; position:relative;float:left}


/*幻灯加载*/
.ResAreImgBK{ display:none; left:0px; top:0px; width:100px; height:100px; position:fixed; z-index:110; background-color:Black; filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9;}

.ResAreImgC{display:none; width:600px; height:600px; position:fixed; z-index:111; }
.ResAreImgList{  width:300px; height:200px; position:absolute;z-index:111; }
.ResAreTopBut{ width:200px; height:30px; position:absolute;z-index:111;background:url("../FrameImg/sitelogo/UpthinBut.png" ) no-repeat scroll; cursor:pointer;}
.ResAreBotBut{width:200px; height:30px; position:absolute;z-index:111;background:url("../FrameImg/sitelogo/BottomthinBut.png" ) no-repeat scroll; cursor:pointer;}
.ResAreListC{ width:200px; height:300px; position:absolute;z-index:111; overflow:hidden}
.ResAreListC ul{list-style-type:none; font-size:0px; margin:0; padding:0; width:100%; height:100%; position:absolute;}
.ResAreListC li{ padding:0px; margin:0px; width:180px; height:150px; margin-left:10px; margin-top:10px; position:relative; cursor:pointer }
.ResAreListC img{ width:100%; height:100%; position:relative}
.ResAreImgImg{ display:block; width:100%; height:100%; position:absolute; z-index:111;}
.ResAreImgClose{ width:40px; height:40px; position:absolute; z-index:112;cursor:pointer;  background:url("../FrameImg/sitelogo/CloseBut.png" ) no-repeat scroll}

/*图片上传*/
.ResAreImgUpload{display:none; width:100%; height:600px; position:fixed; z-index:113; }

.ResAreImgPreview{ width:800px; height:600px; position:fixed; z-index:113; }
.ResAreImgUploadTitle{ width:100%; height:30px; margin-top:10px; position:relative; }
.ResAreImgUploadTitleT{width:80px; height:30px;position:absolute; color:White; font-size:16px; line-height:30px;}
.ResAreImgUploadTitleInput{width:610px; height:24px; border:none; margin-left:90px; position:absolute;}
.ResAreImgUploadTitleUpBtn{width:65px; height:26px; margin-left:735px; position:absolute; font-size:12px; text-align:center; line-height:30px; background-color:White; cursor:pointer}
.ResAreImgUploadImgPreview{width:798px; height:298px; margin-top:10px; position:relative; border:1px solid Gray }
.ResAreImgUploadImgPreview img{ width:100%; height:100%; position:relative;}
.ResAreImgUploadImgPath{width:100%; height:50px; margin-top:10px; position:relative }
.UpLoadForm{ width:100%; height:100%; position:absolute}
.ResAreImgUploadImgPathT{ width:80px; height:100%; position:absolute; color:White; font-size:16px; line-height:50px; }
.ResAreImgUploadImgPathPath{ width:610px; height:24px; margin-top:13px; border:none; margin-left:90px; position:absolute;}
.ResAreImgUploadImgPathimg{ width:65px; height:26px; margin-left:735px; margin-top:13px; border:none; position:absolute}

.ResAreImgUploadImgPlist{ width:300px; height:600px; position:fixed; z-index:113; border:1px solid Gray}
.ResAreImgUploadImgPlist ul{list-style-type:none; font-size:0px; margin:0; padding:0; width:100%; height:100%; position:absolute; overflow:auto}
.ResAreImgUploadImgPlist li{ margin-left:5px; margin-top:5px; position:relative; float:left}
.ResAreImgUploadImgPlist img{ width:100%; height:100%; position:relative}

.ResAreImgUploadImgClose{ width:40px; height:40px; top:10px; left:5px; position:absolute; z-index:114;cursor:pointer;  background:url("../FrameImg/sitelogo/CloseBut.png" ) no-repeat scroll}
