<?xml version="1.0"?>
<configuration>
	<system.web>
    <!--调试配置节-->
		<compilation debug="true" targetFramework="4.0">
	  </compilation>
    <!--Cookie配置节-->
    <sessionState mode="InProc" cookieless="false" timeout="20">
    </sessionState>
      
    <!--webservice的协议配置节-->
		<webServices>
			<protocols>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
			</protocols>
		</webServices>
    


  </system.web>
</configuration>
